<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-uppercase fw-bold" href="#" role="button" data-bs-toggle="dropdown">
        May Can I Help You?
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/action">Edit account</a></li>
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/adminusers">User Options</a></li>
        <li><a class="dropdown-item" href="/adminproducts">Product Management</a></li>
    </ul>
</li>